sbtools-vdio/src/main/resources/org/selfbus/sbtools/vdio/vd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:complexType name="VD">
  <xs:all>
  </xs:all>
  <xs:attribute name="name" type="xs:string" />
  <xs:attribute name="created" type="xs:string" />
  <xs:attribute name="version" type="xs:string" />
 </xs:complexType>

 <xs:element name="virtual_device" type="VD" />

</xs:schema>
